<footer class="g-footer">
  <section>{{ site.title }} ©
  {% assign current = "now" | date: "%Y" | plus: 0%}
  {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
  {% endunless %}
  {{ current }}
  </section>
  <section>Powered by <a href="#">Github</a> | <a href="#">WPF</a></section>
  <div style = "margin-top:30px">
      <audio controls="controls" autoplay="autoplay">
          <source src="https://wp.zp68.com/sub/filestores/2020/04/18/0927394bc9ebf6999b2cc2cc45c48e7c.mp3"/>
      </audio>
  </div>
</footer>

